/*-------*/
/*OVERALL*/
/*-------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

.layer {
    position: absolute;
    overflow: hidden;
}

.bgLayer {
    background-position-x: 0;
    width: 100%;
}

#background {
    background-image: url("../ASSETS/GAME/level-builder/Frump_BG.png");
    top: 0;
    height: 100VH;
    z-index: 0;
}

.clouds {
    background-position: top left;
    height: 50%;
}

.clouds, #ground {
    background-repeat: repeat-x;
    background-size: contain;
}

#ground {
    background-image: url("../ASSETS/GAME/level-builder/platform_mid.png");
    background-position: bottom left;
    bottom: 0;
    height: 100px;
    z-index: 5;
}
#footLevel {
    height: 50px;
}


#cloud1{
    background-image: url("../ASSETS/GAME/clouds/Cloud_1.png");
    z-index: 1;
}

#cloud2 {
    background-image: url("../ASSETS/GAME/clouds/Cloud_2.png");
    z-index: 2;
}

#cloud3 {
    background-image: url("../ASSETS/GAME/clouds/Cloud_3.png");
    z-index: 4;
}

#cog {
    background-image: url("../ASSETS/GAME/level-builder/cog_2.png");
    bottom: -200px;
    left: 0;
    height: 400px;
    width: 400px;
    background-size: cover;
    z-index: 4;
}

#player, .obstacle{
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

#player {
    background-image: url("../ASSETS/GAME/frump/frump-front.png");
    top: 50%;
    left: 250px;
    z-index: 10;
}

#obstacles{
    position: absolute;
    height: 100px;
    z-index: 4;
    right: 0;
    bottom: 80px;
}