/*-------*/
/*OVERALL*/
/*-------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

.layer {
    position: absolute;
    overflow: hidden;
}

.bgLayer {
    background-position-x: 0;
    width: 100%;
}

#background {
    background-image: url("../ASSETS/GAME/level-builder/Frump_BG.png");
    top: 0;
    height: 100VH;
    z-index: 0;
}

.clouds {
    background-position: top left;
    height: 50%;
}

.clouds, #floor, #ceiling {
    background-repeat: repeat-x;
    background-size: contain;
}

#floor, #ceiling {
    background-image: url("../ASSETS/GAME/level-builder/cog_12.png");

    height: 100px;
    z-index: 5;
}

#floor {
    background-position: bottom left;
    bottom: 0;
}

#ceiling {
    background-position: top left;
    top: 0;
    transform: rotate(180deg);
}

#cloud1{
    background-image: url("../ASSETS/GAME/clouds/Cloud_1.png");
    z-index: 1;
}

#cloud2 {
    background-image: url("../ASSETS/GAME/clouds/Cloud_2.png");
    z-index: 2;
}

#cloud3 {
    background-image: url("../ASSETS/GAME/clouds/Cloud_3.png");
    z-index: 4;
}

#cog {
    background-image: url("../ASSETS/GAME/level-builder/cog_2.png");
    bottom: -200px;
    left: 0;
    height: 400px;
    width: 400px;
    background-size: cover;
    z-index: 4;
}

#player, .obstacle{
    width: 100px;
    height: fit-content;
    background-repeat: no-repeat;
}

#player {
    bottom: 100px;
    left: 250px;
    z-index: 10;
}

#playerIMG {
    width: 100%;
}

#obstacles{
    position: absolute;
    height: 120px;
    z-index: 4;
    right: 0;
    bottom: 80px;
}

.obstacle {
    bottom: 0;

}

#screen {
    position: absolute;
    background: #555555aa;
    height: 100VH;
    width: 100VW;
    z-index: 100;
}

#gameOver{
    color: darkred;
    visibility: hidden;
}

#newGame{
    color: greenyellow;
    visibility: inherit;
}